Repository brij8/sitedraft01: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint --fix, stylelint --fix, eslint . --fix, prettier --write .

.lintstagedrc:

{
  "*.html": [
    "markuplint --fix"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "**/*.{js,jsx}": [
    "eslint . --fix",
    "prettier --write ."
  ]
}

assets
  assets/4d6200.png
  assets/colorpalettespectrum.jfif
  assets/colpalss200.jpg
  assets/css-logo.png
  assets/dicewave-wallpaper.jfif
  assets/gpcb-wallpaper2.jpg
  assets/html-logo.png
  assets/js-logo.png
  assets/lfz-logo.png
  assets/motherboard-wallpaper.jpg
  assets/placeholder-project.png
  assets/techwords-wallpaper.jfif
  assets/wordlist200img.png
  style.css
  test.html
Due: markuplint --fix, stylelint --fix

home
  .markuplintrc
  home/grid.css
  home/index.html
  home/styles.css
Due: markuplint --fix, stylelint --fix

projects
  README.md
  project1/grid-proj1.css
  project1/proj1.html
  project1/styles-proj1.css
  project2/grid-proj2.css
  project2/proj2.html
  project2/styles-proj2.css
  project3/grid-proj1.css
  project3/proj3.html
  project3/styles-proj3.css
Due: markuplint --fix, stylelint --fix

clean up
  home/index.html
  project1/proj1.html
  project2/proj2.html
  project3/grid-proj3.css
  project3/proj3.html
Due: markuplint --fix, stylelint --fix

modal bones
  home/index.html
  project1/main.js
  project1/proj1.html
  project1/styles-proj1.css
Due: markuplint --fix, stylelint --fix, eslint . --fix, prettier --write .

Create static.yml
  .github/workflows/static.yml
Due: none
